@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&family=Roboto&display=swap');

@font-face{
    font-family: FuturaHvBT;
    src: url("fonts/bitstream_-_futura_hv_bt_heavy-webfont.woff");
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    background-color: white;
}


.logo {
    max-width:42px;
    width: auto;
    height: auto;
    padding-right: 10px;
}

.navbar-container{
    display: inline-block;
    font-family: FuturaHvBT;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 8px;

}

div a{
    margin: 10px 5px;
    text-decoration: none;
}

.title{
    padding-top: 7%;
    line-height: 0.9;
}

.subtitle{
    font-family: 'Piazzolla', serif;
    font-size: 23px;
    line-height: 1.2;
}

h1{
    font-family: FuturaHvBT;
    letter-spacing: 7px;
    font-size: 50px;
}

.container-header{
    padding: 20px 60px;
}

.image{
    position: relative;
}

.sig{
    max-width:1000px;
    width: auto;
    height: auto;
    opacity: 0.3;
}

.text-title{
    position: absolute; 
    top: 180px; 
}

.parallax{
    background-image: url("img/webdesigndandre3.png");
    height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: auto;
}

.shadow{
    box-shadow: 0px -15px 20px 5px rgba(0, 0, 0, 0.2);
}