@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&family=Roboto&display=swap');

@font-face{
    font-family: FuturaHvBT;
    src: url("fonts/bitstream_-_futura_hv_bt_heavy-webfont.woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: block;
}

body, html{
    height: 100%;
    background-color: white;
}

.logo {
    max-width:42px;
    width: auto;
    height: auto;
    padding-right: 10px;
}

.navbar-container{
    display: inline-block;
    font-family: FuturaHvBT;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 8px;

}

.square a{
    margin: 10px 10px;
    text-decoration: none;
}

.title{
    padding-top: 9.3%;
    line-height: 0.9;
}

.subtitle p{
    font-family: 'Piazzolla', serif;
    font-size: 23px;
    line-height: 1.2;
}

.title h1{
    font-family: FuturaHvBT;
    letter-spacing: 7px;
    font-size: 50px;
}

.container-header{
    padding: 20px 60px;
}

.image{
    position: relative;
}

.sig{
    max-width:1000px;
    width: auto;
    height: auto;
    opacity: 0.2;
    filter: blur(1.5px);
}

.text-title{
    position: absolute; 
    top: 180px; 
}

.parallax{
    background-image: url("img/webdesigndandre3.png");
    height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: auto;
}

.shadow{
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
    background-color: black;
    z-index: 999;
    position: relative;
}

.container-content{
    margin: auto 15%;
    padding: 20px 70px;
}

.profile{
    margin:auto;
    color: white;
}

.profile h1{
    font-family: FuturaHvBT; 
    text-align: center;
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 38px;
}

.profile .heads{
    font-family: 'Piazzolla', serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
}

.photo{
    max-width:200px;
    width: auto;
    height: auto;
}

h2{
    font-family: FuturaHvBT;
}

p{
    font-family: 'Piazzolla', serif;
    font-size: 14px;
}

.rows{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    align-items: flex-start;
}

.box{
    margin-left: 40px;
    padding: 20px 0px;
}

.azure-small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:26px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parallax2{
    background-image: url("img/whitebg.png");
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: auto;
}

.skills{
    color: black;
    margin: auto;
}

.skills h1{
    font-family: FuturaHvBT; 
    text-align: center;
    margin-bottom: 3px;
    margin-top: 40px;
    font-size: 38px;
}


.skills .heads{
    font-family: 'Piazzolla', serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
    font-size: medium;
    font-family: 'Piazzolla', serif;
    padding: 0px 2px;
}

.skills .rows{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: flex-start;
}

.skills .rows .box{
    margin: 0px 100px;
}

.skills h2{
    width: 450px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 0.1px black solid;
}

.skill-type{
    display: inline-block;
    width: 60%;
}

.score{
    float: right;
}

.center{
    text-align: center;
}

.score img{
    max-width:10px;
    width: auto;
    height: auto;
    margin: 0px 2px;
}

h4{
    font-family: FuturaHvBt;
    text-align: center;
    margin-bottom: 15px;
}

.project-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container{
    position: relative;
    width: 18%;
    margin: 10px 50px;
    margin-bottom: 40px;
    
}

.image-container img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 40;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: black;
    border-radius: 3px;
    padding: 28% 6px;
}

.image-container:hover .overlay{
    opacity: 0.8;
}

.text{
    font-size:12px;
}

.projectheader{
    text-align: center;
    font-size: 26px;
    
}

hr{
    margin: auto;
    width: 75%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.prog-title{
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-family: FuturaHvBt;
    z-index: 999;
}

.image-container .text{
    color: white;
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 14px;
    font-family: FuturaHvBt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button5 {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
}

.button5:hover {
    background-color: white;
    color: black;
}

.button6 {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 7px;
}

.button6:hover {
    background-color: black;
    color: white;
}

.inside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container2{
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    position: relative;
    width: 100%;
    margin: 10px 10px;

}

.image-container2 .arts{
    display: block;
    width: 100%;
    height: auto;
}

.overlay2{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: black;
    padding: 48% 10px;
}

.image-container2:hover .overlay2{
    opacity: 0.8;
}

.image-container2 .text{
    color: white;
    text-align: center;
}

.profile2{
    margin:auto;
    margin-bottom: 60px;
    color: white;
}

.profile2 h1{
    font-family: FuturaHvBT; 
    text-align: center;
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 38px;
}

.profile2 .heads{
    font-family: 'Piazzolla', serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
}

.linkz{
    display: flex;
    justify-content: center;
    margin:auto;
    color: white;
    text-decoration: none;
    font-family: 'Piazzolla', serif;
}

.socials{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    
}


.socials .fa {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px black solid;
    transition-duration: 0.14s;
    box-sizing: initial;
    color: black;
}
  
.fa:hover {
    color: white;
    background:black;
}
