/*@import url(//db.onlinewebfonts.com/c/af089c51d74ffa3c6a675fd6024b302b?family=Futura+Hv+BT);*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&family=Roboto&display=swap');

@font-face{
    font-family: FuturaHvBT;
    src: url("fonts/bitstream_-_futura_hv_bt_heavy-webfont.woff");
}

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    background-color: white;
}

.container-header{
    padding-top: 20px;
    padding-left: 52px;
}

.logo {
    max-width:42px;
    width: auto;
    height: auto;
    margin-right: 20px;
}

.navbar-container{
    display: inline-block;
    font-family: FuturaHvBT;
    font-size: 14.3px;
    letter-spacing: 2px;
}

div a{
    margin: 10px;
    text-decoration: none;
}

.parallax{
    background-image: url("img/webdesigndandre3.png");
    height: 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.shadow{
    box-shadow: 0px -15px 20px 5px rgba(0, 0, 0, 0.2);
}